node_modules
dist
.env
coverage
.prisma
generated
backend\generated
backend/generated/
backend/generated
backend/generated/prisma/


*.txt
*.md
exampleFrontEnd
uploads
phase
/backend/weights/
*.py
*.pdf
!README.md